- page_title @blob.path, @ref

= render 'projects/last_push'

%div.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'blob', path: @path

%div#tree-holder.tree-holder
  = render 'blob', blob: @blob

- if allowed_tree_edit?
  = render 'projects/blob/remove'

  - title = "Replace #{@blob.name}"
  = render 'projects/blob/upload', title: title, placeholder: title,
    button_title: 'Replace file', form_path: namespace_project_update_blob_path(@project.namespace, @project, @id),
    method: :put
